<section class="wrapper">
  <div class="wrapper__title">
    Weather forecast
  </div>
  <div class="wrapper__search">
    <form #form="ngForm" (ngSubmit)="handleSearch(location.value)">
      <input name="location" #location="ngModel" ngModel type="text" placeholder="Location ..." required />
      <input type="submit" value="Search" />
    </form>

  </div>
</section>

<section *ngIf="data" class="forecast">
  <div class="forecast__city">{{data.name}}</div>
  <div class="col-1">
    <img src="../assets/icons/degrees.png" /></div>
  <div class="col-2">{{toCelcius(data.main.temp)}}</div>
  <div class="col-3">
    <div><img src="http://openweathermap.org/img/wn/{{data.weather[0].icon}}@2x.png"></div>
    <div> {{data.weather[0].main}}</div>
  </div>
  <div class="col-4">
    <div class="pad">Pressure: <span class="bold">{{data.main.pressure}} hPa</span> </div>
    <div class="pad">Humidity: <span class="bold">{{data.main.humidity}} %</span> </div>
    <div class="pad">Wind: <span class="bold">{{data.wind.speed}} km/h</span> </div>
    <div class="pad">Sunrise: <span class="bold">{{parseTime(data.sys.sunrise)}}</span></div>
    <div class="pad">Sunset: <span class="bold">{{parseTime(data.sys.sunset)}}</span> </div>
  </div>
</section>

  <app-hourly-weather [location]="location" [hourlyData]="hourlyData" *ngIf="hourlyData">
  </app-hourly-weather>
