<div class="container center">
    <section class="row wrapper">
      <div class="col-5 col-s-12 left">
        <img src='../assets/images/sun.png'/>
        <div class="title">Weather forecast</div>  
      </div>
      <div class="col-7 col-s-12 search right">
        <form #form="ngForm" (ngSubmit)="handleSearch(location.value)">
          <div class="input-container">
            <input class="input-field" type="text" placeholder="Location ..." name="location" #location="ngModel" ngModel required />
            <fa-icon class="icon" [icon]="faCrosshairs" (click)="handleGeoLocation()"></fa-icon> 
            <input type="submit" value="Search" />
          </div>
        </form>
      </div>
  </section>
</div>


<section *ngIf="data" class="forecast">
  <div class="forecast__city">{{data.name}}</div>
  <div class="row center">
    <div class="col-4 col-s-12">
      <div class="row">
        <div class="col-4 col-s-2 center">
          <img src="../assets/icons/degrees.png" />
        </div>
        <div class="col-8 col-s-2">
          <div class="size-28 bold">{{toCelcius(data.main.temp)}} &deg;</div>
          <div><img src="http://openweathermap.org/img/wn/{{data.weather[0].icon}}@2x.png"></div>
          <div> {{data.weather[0].main}}</div>
        </div>
      </div>
    </div>
    <div class="col-8 col-s-12 center">
      <div class="pad">Pressure: <span class="bold">{{data.main.pressure}} hPa</span> </div>
      <div class="pad">Humidity: <span class="bold">{{data.main.humidity}} %</span> </div>
      <div class="pad">Wind: <span class="bold">{{data.wind.speed}} km/h</span> </div>
      <div class="pad">Sunrise: <span class="bold">{{parseTime(data.sys.sunrise)}}</span></div>
      <div class="pad">Sunset: <span class="bold">{{parseTime(data.sys.sunset)}}</span> </div>
    </div>
  </div>
</section>

<app-hourly-weather [location]="location" [hourlyData]="hourlyData" *ngIf="hourlyData">
</app-hourly-weather>