* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

input:-internal-autofill-selected {
  background-color: white;
}

.container {
  display: block;
  width: 100%;
}

section {
  display: block;
}

.wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  background-color: #bfc1c3;
  &__title {
    float: left;
    font-size: 1.5em;
    padding-top: 8px;
    color: #df6c4f;
    font-weight: bold;
  }
  &__search {
    float: right;
    input[type="text"] {
      padding: 12px;
      border: 1px solid #226096;
      border-radius: 4px 0 0 4px;
    }
    input[type="submit"] {
      background-color: #226096;
      color: white;
      padding: 12px 20px;
      border: 1px solid #226096;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      &:hover {
        background-color: #df6c4f;
        border: 1px solid #df6c4f;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.forecast {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  &__city {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.5em;
  }
}

.blue {
  background-color: #e8f0fe;
  margin: 5px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.bold {
  font-weight: bold;
}

.size-28 {
  font-size: 28px;
}

.hourly-forecast {
  height: 200px;
  width: 100%;
}

.pad {
  padding: 10px;
}

.middle {
  display: flex;
  justify-content: center;
}
