section {
  background-color: f8f8f8;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.pad {
  padding-bottom: 10px;
}

.time {
  font-size: 1.2em;
}

.center {
  text-align: center;
}

.bg {
  background-color: #e8f0fe;
  border-radius: 10px;
  min-width: 250px;
  margin: 10px;
}

div {
  padding-bottom: 5px;
}

.left {
  float: left;
}

