<div class="grid-container">
    <div>
        <div class="vertical-center">
            <img src='../assets/icons/back-24.png' 
            (click)="handlePrev()" 
            class="thumb" 
            *ngIf="currentIndex !== 0">
        </div>
    </div>
    <div>
        <ul class="container">
            <li *ngFor="let day of days; let i = index" 
            [class.active]="currentIndex === i" 
            class='thumb'
            (click)="handleClick(i)">
                <div>{{hourlyData.list[i].dt_txt}}</div>
                <img src="http://openweathermap.org/img/wn/{{hourlyData.list[i].weather[0].icon}}@2x.png" />
                <div> {{getCelcius(hourlyData.list[i].main.temp_min)}} /
                    {{getCelcius(hourlyData.list[i].main.temp_max)}}
                </div>
                <div><img src='../assets/icons/download-24.png' /></div>
            </li>
        </ul>
    </div>
    <div>
        <div class="vertical-center">
             <img src='../assets/icons/next-24.png' (click)="handleNext()" class="thumb"
            *ngIf="currentIndex !== days.length-1">
        </div>
    </div>
</div>